* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
}

header {
    height: 10%;
    background-color: #ccc;
    a{
        text-transform:capitalize;
        text-decoration: none;
        color: #fff;
    }
}