

header {
    height: 10%;
    
    background-color: transparent;
    a{
        text-transform:capitalize;
        text-decoration: none;
        color: #1c1c1c;
    }
}

.card-title a {
    text-decoration: none;
}

.menu {
     width: 40%;
     list-style: none;
     li {
        margin-right: 1rem;
     }
}